<a href="home" class="waves-effect waves-light btn-large">Back</a>
<div class="container">
    <div class="row">
        <h3>{{datosApi.articles[0].title}}</h3><br>
        <h4>{{datosApi.articles[0].author}} written in : {{datosApi.articles[0].source.name}}</h4>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col s12 m8 l8">
            <p> {{datosApi.articles[0].content}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem a
                ducimus quisquam. Libero, quaerat ab. Itaque atque, repellat obcaecati nam exercitationem esse soluta
                excepturi, eaque eligendi tempore et eius ad!b. </p>
        </div>
    </div>
</div>